{% extends "base.html" %}
{% load static %}


{% block body %}

<div class="container">


    <!-- Mission Statement -->
    <section class="mission-statement">
        <p>Our mission is to provide the best solutions to our customers' problems by offering high-quality products and exceptional service. We believe in innovation, sustainability, and putting our customers first.</p>
    </section>

    <!-- Content -->
    <section class="content">
        <div class="contentrow">
            <img src="../static/designs/happycustomer.png" alt="Image description">
            <p>At [Your Company Name], we are dedicated to revolutionizing the way you shop for your favorite brands. Our platform offers a unique and personalized experience, allowing you to easily subscribe to alerts for sales and discount codes from the brands you love. By continuously monitoring these brands, we ensure that you never miss an opportunity to save. Whenever there's a sale or discount code available, you'll receive an email notification with all the details you need to make the most of the deal. With [Your Company Name], shopping smart has never been easier.</p>
        </div>
        <div class="contentrow">
            <p>Founded by a team of passionate shoppers and tech enthusiasts, [Your Company Name] was born from the idea that everyone should be able to make the most of the sales and discounts available from their favorite brands. We are driven by a commitment to provide a seamless and efficient service to our users, helping them save both time and money. Our innovative platform reflects our dedication to staying ahead of the curve and continually adapting to the ever-changing world of retail.</p>
            <img src="../static/designs/workinprogress.png" alt="Image description">
        </div>
    </section>

    <!-- Call to Action -->
    <section class="call-to-action">
        <h3>Ready to Experience the Difference?</h3>
        <p>Ready to join the smart shopping revolution? Don't let another sale or discount code slip through your fingers. Click the button below to sign up for [Your Company Name] and start saving on your favorite brands today!</p>
        <a href="contact.html" class="cta-button">Give it a try!</a>
</section>

<!-- Company History -->
<section class="company-history">
    <h3>Our History</h3>
    <p>Since our founding in 20XX, we have been committed to providing innovative solutions to our customers. Over the years, we have achieved several milestones and have grown into the successful company we are today.</p>
</section>



<!-- Social Media Links -->
<section class="social-media">
    <h3>Connect With Us</h3>
    <ul>
        <li><a href="https://www.facebook.com/yourcompany" target="_blank">Facebook</a></li>
        <li><a href="https://www.twitter.com/yourcompany" target="_blank">Twitter</a></li>
        <li><a href="https://www.linkedin.com/company/yourcompany" target="_blank">LinkedIn</a></li>
        <li><a href="https://www.instagram.com/yourcompany" target="_blank">Instagram</a></li>
    </ul>
</section>

<!-- Closing Statement -->
<section class="closing-statement">
    <p>At Your Company, we believe in the power of innovation and exceptional service. We're dedicated to providing our customers with the best solutions possible, and we look forward to helping you achieve your goals.</p>
</section>

</div>

{% endblock %}
