{% extends "base.html" %}
{% load static %}


{% block body %}
<div class="succestext" style="border:1px">
  <h1>Succes!</h1>
  <h3>From now on you will never mis a sale or discount code!</h3> 
</div>

<div class="animation" style="width:150px; height: 150px; background-color: gray;">
  animation here
</div>

<div class="socialmedia" style="border:1px">
  Follow us on social media for the latest updates!
  <button class="search-button">Instagram</button>
  <button class="search-button">Twitter</button>
  <button class="search-button">Facebook</button>
</div>
{% endblock %}


